{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert-success">
                {{ message }}
        </div>
    {% endfor %}
    <small class="d-block text-right mt-3">
        <a href="{{ path('micro_post_add') }}">Add new</a>
    </small>

    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
    {% if usersToFollow|length > 0 %}
        {% for user in usersToFollow %}
            <a href="{{ path('micro_post_user', {'username' : user.username}) }}">{{ user.username }}</a>
            {% endfor%}
    {% else %}
    {% for post in posts %}

           {{ include('micro-post/post-raw.html.twig', {'post': post}) }}


        <small class="d-block text-right mt-3">
            {% if is_granted('edit', post) %}
                <a href="{{ path('micro_post_edit',{'id': post.id}) }}">Edit</a>
            {% endif %}
            {% if is_granted('delete', post) %}
                <a href="{{ path('micro_post_delete',{'id': post.id}) }}">Delete</a>
            {% endif %}
        </small>
        {% endfor %}
     {% endif %}
{% endblock %}